h1 {
  text-align: center;
  color: blueviolet;
}
h2 {
  text-align: center;
  color: aqua;
  border-color: blueviolet;
  padding: 10px;
  border: 1px solid blueviolet;
}
button {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
